NET "clock" LOC="E16" | IOSTANDARD = "LVCMOS33";
NET "h" LOC = "P4" | IOSTANDARD = "LVCMOS33";
NET "e" LOC = "P3" | IOSTANDARD = "LVCMOS33";

NET "s(0)" LOC = "R2" | IOSTANDARD = "LVCMOS33";
NET "s(1)" LOC = "U1" | IOSTANDARD = "LVCMOS33";
NET "s(2)" LOC = "P5" | IOSTANDARD = "LVCMOS33";
NET "s(3)" LOC = "R1" | IOSTANDARD = "LVCMOS33";

NET "clock" CLOCK_DEDICATED_ROUTE = FALSE;
