NET "clock" LOC="E3" | IOSTANDARD = "LVCMOS33";
NET "reset" LOC="U9" | IOSTANDARD = "LVCMOS33";
NET "output(0)" LOC="P2" | IOSTANDARD = "LVCMOS33";
NET "output(1)" LOC="R2" | IOSTANDARD = "LVCMOS33";
NET "output(2)" LOC="U1" | IOSTANDARD = "LVCMOS33";
NET "output(3)" LOC="P5" | IOSTANDARD = "LVCMOS33";
NET "output(4)" LOC="R1" | IOSTANDARD = "LVCMOS33";
NET "output(5)" LOC="V1" | IOSTANDARD = "LVCMOS33";
