NET "clock" LOC="E3" | IOSTANDARD = "LVCMOS33";
NET "w" LOC="P4" | IOSTANDARD = "LVCMOS33";
NET "reset" LOC="U9" | IOSTANDARD = "LVCMOS33";
NET "led" LOC="P2" | IOSTANDARD = "LVCMOS33";
NET "display(0)" LOC="L3" | IOSTANDARD = "LVCMOS33";
NET "display(1)" LOC="N1" | IOSTANDARD = "LVCMOS33";
NET "display(2)" LOC="L5" | IOSTANDARD = "LVCMOS33";
NET "display(3)" LOC="L4" | IOSTANDARD = "LVCMOS33";
NET "display(4)" LOC="K3" | IOSTANDARD = "LVCMOS33";
NET "display(5)" LOC="M2" | IOSTANDARD = "LVCMOS33";
NET "display(6)" LOC="L6" | IOSTANDARD = "LVCMOS33";
